<a href="https://colab.research.google.com/github/abhinavdey1920/code-repo/blob/main/LinearRegression_MultipleVariables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/LinearRegression.csv")

In [3]:
df

   Area  Bedroom  Age  Price
0  2600      3.0   20  55000
1  3000      4.0   15  56500
2  3200      NaN   18  61000
3  3600      3.0   30  59500
4  4000      5.0    8  76000

1) Data Preprocessing:- we fill all the empty spaces with some values (here the 2nd index is empty)

In [6]:
p=df.Bedroom.median()

In [29]:
import math
p=math.floor(df.Bedroom.median())
p

3

In [31]:
df.Bedroom=df.Bedroom.fillna(p)

In [32]:
df

   Area  Bedroom  Age  Price
0  2600      3.0   20  55000
1  3000      4.0   15  56500
2  3200      3.0   18  61000
3  3600      3.0   30  59500
4  4000      5.0    8  76000

2) Applying Linear Regression model by importing its library and fitting the X and Y variable in the model

In [33]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(df[['Area','Bedroom','Age']],df.Price)

LinearRegression()

In [34]:
df[['Area','Bedroom','Age']]

   Area  Bedroom  Age
0  2600      3.0   20
1  3000      4.0   15
2  3200      3.0   18
3  3600      3.0   30
4  4000      5.0    8

In [35]:
reg.coef_

array([   13.725, -2602.5  ,  -682.5  ])

In [36]:
reg.intercept_

38372.49999999998

Now predicting the price of the model by giving the inputs

In [38]:
reg.predict([[3400,5.0,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([67930.])